@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<library_automation.Models.BookAvailabilityViewModel>
@{
    ViewData["Title"] = "Books";
}
<div class="container">
    <div class="row">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100 shadow-sm border">
                    <div class="card-body p-1 d-flex flex-column">
                        <h5 class="card-title text-center mb-3">@Model[i].Title</h5>
                        <div class="text-center mb-3">
                            <div class="mb-2">
                                <strong>Genre:</strong> @Model[i].Genre
                            </div>
                            <div>
                                <strong>Publisher:</strong> @Model[i].Publisher
                            </div>
                        </div>
                        <div class="mt-auto">
                            <div class="d-flex justify-content-center mb-2">
                                <div class="w-75">
                                    <a class="btn btn-info w-100" asp-action="Details" asp-route-id="@Model[i].Id">View
                                        Details</a>
                                    @if (@Model[i].IsAvailable)
                                    {
                                        <span class="badge bg-success w-100">Available</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger w-100">Not Available</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
