@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model library_automation.Models.Book
@{
    ViewData["Title"] = "Book Details";
}
<div class="container">
    <div class="col-12">
        <div class="d-flex justify-content-center">
            <h5 class="">@Model.Title</h5>
        </div>
        <div class="mt-auto">
            <div class="d-flex justify-content-center">
                Genre: @Model.Genre
            </div>
            <div class="d-flex justify-content-center">
                Publisher: @Model.Publisher
            </div>
            <div class="d-flex justify-content-center">
                Author: @Model.Author.FirstName @Model.Author.LastName
            </div>
            <div class="d-flex justify-content-center p-3">
                <a class="btn btn-info" asp-action="Index">Return</a>
            </div>
        </div>
    </div>
</div>
